@model RapChieuPhim.Models.Entities.Phim

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayPhatHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayPhatHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanLoaiDoTuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanLoaiDoTuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuongDanAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuongDanAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaXoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuongDanTrailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuongDanTrailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTheLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTheLoaiNavigation.MaTheLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPhim">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>

